.bgc1{
  margin-top: 0px;
  margin-left: 0px;
  display :flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  background-color:darkblue;
  font-family: sans-serif;
}
.container{
  margin-top:0px;
  margin-left: 0px;
  width:100vw;
  height: 100vh;
}

.nav{
  margin-top:0.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  height:10%;
  background-color: orange;
}
.leftnav{
  float:left;
  margin-left: 0.5%;
  width:45%;

}
.leftnav img{
  padding-left: 1%;
  height: 10%;
  width: 10%;
  cursor: pointer;
}
.leftnav span{
  padding-left: 0.5%;
  font-size: 30px;
  color:#500fff;
  text-shadow: 2px 2px #aff508;
  font-style: italic;
  font-family: fantasy;
}
.rightnav{
  float:right;
  margin-right: 0.5%;
  width:45%;
}
.rightnav ul li{
  float:left;
  font-size: 24px;
  margin-left: 10%;
  background-color: orange;
}
.rightnav ul li a{
  text-decoration: none;
  color:green;
}

.rightnav ul li a:hover{
  color: red;
}
.rightnav ul li a:visited{
  color:purple;
}
.intro1{
  margin-left: 10%;
   display: flex;
  flex-wrap:wrap;
  width:80%;
  height: 80%;

}
.intro1 div img {
  margin:10px;
  padding:10px;

}
.play1{
  color:white;
    background-color: lightgreen;
}
.play1 .p1{
  position: absolute;
    background-color: lightgreen;


}
